@model ARSN.Models.Competition

@{
    ViewData["Title"] = "Details";
}


<div>
    <h2>Detalji</h2>

    <h4>Natjecanje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SportType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompetitionBegin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompetitionBegin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompetitionEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompetitionEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompetitionID">Izmjene</a> |
    <a asp-action="Index">Povratakt</a>
</div>
