@model ARSN.Models.Team

@{
    ViewData["Title"] = "Details";
}



<div>
    <h2>Detalji</h2>

    <h4>Tim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organisation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organisation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainerName)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.TeamID">Izmjena</a> |
        <a asp-action="Index">Povratak</a>
    </div>
</div>

