@model ARSN.Models.Game

@{
    ViewData["Title"] = "Details";
}



<div>
    <h2>Detalji</h2>

    <h4>Utakmica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeTeam.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AwayTeam.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeResult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeResult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwayResult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AwayResult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameID">Izmjena</a> |
    <a asp-controller="Rounds" asp-action="Index">Povratak</a>
</div>
