@model IEnumerable<ARSN.Models.Round>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-bracket/jquery.bracket.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameCollection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
    @foreach (var game in item.GameCollection)
    {
            @Html.DisplayFor(modelItem => game.HomeTeam.Name)
        <span>-</span>
            @Html.DisplayFor(modelItem => game.AwayTeam.Name)
        <br/>
    }
            </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoundID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoundID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoundID">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>


    <div class="tournament" id="tournament">
       <div class="demo" id="minimal"> 
        <link rel="stylesheet" href="~/lib/jquery-bracket/jquery.bracket.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-bracket/jquery.bracket.min.js">
            var minimalData = {
                teams: [
                    ["Team 1", "Team 2"], /* first matchup */
                    ["Team 3", "Team 4"]  /* second matchup */
                ],
                results: [
                    [[1, 2], [3, 4]],       /* first round */
                    [[4, 6], [2, 1]]        /* second round */
                ]
            }
            /*
            $(function () {
                $('#minimal .demo').bracket({
                    init: minimalData /* data to initialize the bracket with */
              //  })
          //  })

            jQuery(document).ready(function ($) {

                $('.demo').bracket({
                    init: minimalData
                });

            });

        </script>
    </div>
</div>
    
