@model IEnumerable<ARSN.Models.Round>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-bracket/jquery.bracket.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Igre
            </th>
            <th>
                Rezultat
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var game in item.GameCollection)
        {
            @Html.DisplayFor(modelItem => game.HomeTeam.Name)
            <span>-</span>
            @Html.DisplayFor(modelItem => game.AwayTeam.Name)
            <br />
}
            </td>
            <td>
                @foreach (var game in item.GameCollection)
        {
            @Html.DisplayFor(modelItem => game.HomeResult)
            <span>-</span>
            @Html.DisplayFor(modelItem => game.AwayResult)
            <br />
}
            </td>
            <td>
                @foreach (var game in item.GameCollection)
    {
            <a asp-controller="Games" asp-action="Edit" asp-route-id="@game.GameID">Edit</a> <span>|</span>
            <a asp-controller="Games" asp-action="Details" asp-route-id="@game.GameID"> Details </a> <span>|</span>
            <a asp-controller="Games" asp-action="Delete" asp-route-id="@game.GameID"> Delete </a>
            <br />
}
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.RoundID">Generiraj novo kolo</a>
            </td>
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { packages: ["orgchart"] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        // For each orgchart box, provide the name, manager, and tooltip to show.
        data.addRows([
            [{ v: 'Mike', f: 'Mike' },
                '', 'The President'],
            [{ v: 'Jim', f: 'Jim' },
                'Mike', 'VP'],
            ['Alice', 'Mike', ''],
            ['Bob', 'Jim', 'Bob Sponge'],
            ['Carol', 'Bob', '']
        ]);

        // Create the chart.
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, { allowHtml: true });
    }
</script>
<div id="chart_div"></div>
    
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-">
       <strong>Error!</strong> danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

