@model IEnumerable<ARSN.Models.Round>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameCollection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (var game in item.GameCollection)
                    {
                        @Html.DisplayFor(modelItem => game.HomeTeam.Name)
                        <span>-</span>
                        @Html.DisplayFor(modelItem => game.AwayTeam.Name)
                        <br />
                    }
                </td>

                <td>
                    <a asp-action="Index" asp-route-id="@item.RoundID">Generiraj novo kolo</a> |
                    <a asp-action="Details" asp-route-id="@item.RoundID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoundID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-">
       <strong>Error!</strong> danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
